@{
    ViewData["Title"] = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ProductManagmentSystem.Models.UserModel;
<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3>Add User</h3>
            <br />
            <form method="post" asp-controller="User" asp-action="AddUser" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">User Photo</label>
                            <div class="col-sm-9">
                                <input type="file" class="form-control" asp-for="File" placeholder="Upload File" />
                                <span asp-validation-for="UserPhoto" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="FirstName" placeholder="Enter First Name" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="LastName" placeholder="Enter Last Name" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Phone Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Enter Number" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date of Birth</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" asp-for="DateOfBirth" placeholder="dd/mm/yyyy" />
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Role</label>
                            <div class="col-sm-9">
                                <select class="form-control" asp-for="UserRole">
                                    <option>User</option>
                                    <option>Admin</option>
                                </select>
                                <span asp-validation-for="UserRole" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" asp-for="Gender" value="Male" checked />
                                        Male
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" asp-for="Gender" value="Female" />
                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
                @* <div class="row">
                <div class="col-md-6">
                <div class="form-group row">
                <label class="col-sm-3 col-form-label">Gender</label>
                <div class="col-sm-9">
                <select class="form-control">
                <option>Male</option>
                <option>Female</option>
                </select>
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group row">
                <label class="col-sm-3 col-form-label">Role</label>
                <div class="col-sm-4">
                <div class="form-check">
                <label class="form-check-label">
                <input type="radio" asp-for="Gender" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="User" checked>
                User
                </label>
                </div>
                </div>
                <div class="col-sm-5">
                <div class="form-check">
                <label class="form-check-label">
                <input type="radio" asp-for="Gender" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="Admin">
                Admin
                </label>
                </div>
                </div>
                <span asp-validation-for="UserRole" class="text-danger"></span>
                </div>
                </div>
                </div>*@
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="Email" placeholder="Enter Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="Password" placeholder="Enter Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 col-form-label">Address</label>

                    <textarea class="form-control" asp-for="Address" placeholder="Address"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <hr />
                <div class="row">
                    <input type="submit" class="btn btn-success" />
                    <a class="btn btn-danger" onclick="" asp-controller="User" asp-action="AllUser" style="margin-left: 30px">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>







