@{
    ViewBag.Title = "View Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ProductManagmentSystem.Models.ProductModel

<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3>View Product</h3>
            @Html.HiddenFor(x=>x.ProductImg)
            <form method="post">
                <div class="form-group">
                    <label><span class="text-danger"></span>Photo Path</label>
                    <input type="image" class="form-control" asp-for="File" src="@Url.Content(Model.ProductImg)" style="height:120px; width:120px; border-radius:0px " alt="Sorry Server is down..." disabled />
                </div>
                <div class="form-group">
                    <label>Product Name</label>
                    <input type="text" class="form-control" asp-for="ProductName" placeholder="Enter Name" disabled />
                </div>
                <div class="form-group">
                    <label>Product Number</label>
                    <input type="text" class="form-control" asp-for="ProductNumber" placeholder="Enter Number" disabled />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    @*<input type="text" class="form-control" asp-for="Description" placeholder="Enter Description" />*@
                    <textarea class="form-control" asp-for="Description" placeholder="Description" disabled></textarea>
                </div>
                <div class="form-group">
                    <label>Product Price</label>
                    <input type="number" class="form-control" asp-for="ProductPrice" placeholder="Enter Amount"     disabled />
                </div>
                <hr />
                <div class="row">
                    <a class="btn btn-danger" onclick="" asp-controller="Product" asp-action="AllProduct" style="margin-left: 30px">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
